body {
margin-top:0px;
color:#000000;
font-family:Tahoma,Verdana,sans-serif;
font-size:14px;
font-weight:normal;
text-decoration:none;
}

td.left {
text-align:left;
}

.red {
color:red;
}

.green {
color:green;
}

td.right {
text-align:right;
}

A:link {
color:#000000;
background:#FFFFFF;
font-family:Tahoma,Verdana,sans-serif;
text-decoration:underline;
}

A:visited {
color:#000000;
background:#FFFFFF;
text-decoration:underline;
}

A:hover {
color:#666666;
background:#FFFFFF;
text-decoration:underline;
}

A:active {
color:#000000;
background:#FFFFFF;
text-decoration:underline;
}

.tableHeader { 
background:#AEAEAE;
font-weight:bold; 
text-align:center
} 

.tableSubHeader {
background:#C0C0C0;
font-weight:normal;
text-align:left
}
